<!-- contains filters in angularJS -->
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="srcp.js"></script>
	<link href="style.css" rel="stylesheet" />
	<title> Filters in AngularJs</title>
</head>
<body ng-app="myModule">

<div ng-controller="filterController">
	 		Rows to Limit: <input type="number" ng-model="rowLimit" step="1" min="0" max="4">
	 		<br><br>
	 		Sort by <select ng-model="sortColum">	
	 			<option  value="name"> Name: </option>
	 			<option  value="-salary"> salary: </option>
	 		</select>
	 		<br><br>
	 		Search: <input type="text" ng-model="searchText.name" placeholder="Search Name">
	 		Search: <input type="text" ng-model="searchText.gender" placeholder="Search Gender">
	 		Search: <input type="checkbox" ng-model="exactMatch"/>
	 			<!-- Exact match is case sensitive, works on main dataset. -->
	 			
	 			<br><br>
	 		Search: <input type="text" ng-model="searchText" placeholder="Search Gender">

	 <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary (number filter)</th>
                    <th>Salary (currency filter)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:sortColum | filter:searchText:exactMatch ">
                    <td> {{ employee.name | uppercase}} </td>
                    <td> {{ employee.DOB | date: "dd/MMM/yyyy"}} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.salary | number:2}} </td>
                    <td> {{ employee.salary | currency}} </td>
                </tr>
            </tbody>
        </table>
</div>
</body>
</html>