<!-- contains filters in angularJS -->
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="srcp.js"></script>
	<script type="text/javascript" src="Filters.js"></script>	
	<link href="style.css" rel="stylesheet" />
	<title> Custom Filter in Angular</title>
</head>
<body ng-app="myModule">

<div ng-controller="dataPhpController"><p></p>
     <input type="checkbox" ng-model="hideSalary"/>Hide Salary
     Select View : 
     <select ng-model="employeeView">
             <option value="EmpTable.html"> Table </option>
            <option value="EmpList.html"> List</option>
     </select>
     <div ng-include="employeeView"> </div>
</div>

</body>
</html>