<!-- <!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>Angularjs</title>
    <script src="angular.js"></script>
    <script src="scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</head> 
<body>
<div>
    <table>
        <tr>
                <a href="#home">Home</a>
                <a href="#courses">Courses</a>
                <a href="#students">Students</a>
        </tr>
        <div ng-view>
        </div>
    </table>
</div>
</body>
</html> -->

hello i m  trial